.swiper {
  width: 100%;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: auto;
  padding-bottom: 20px;
  
}

.swiper-wrapper{
  padding-bottom: 30px;
  /* padding-top: 30px; */
  height: auto;
  
}




.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 300px; */
  /* make drop shadow */
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
@media (max-width: 550px){
  .swiper-slide img{
    height: 100px;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    
  }
  .swiper-button-next{
    
    top: 100%;
    left: 50%;
    
  }
  .swiper-button-prev{
    
    top: 100%;
    left: 38%;
    
  }
  
}

@media (min-width: 425px){
  .swiper-slide img{
    height: 100px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    
  
    .swiper-button-next{
    
      top: 40%;
     
      
    }
    .swiper-button-prev{
      
      top: 40%;
     
      
    }
  }

  
}
@media (min-width: 550px) {
  .swiper-slide img {
    /* height: 200px; */
    
    height: 150px;
  }

 
}



/* responsive swiper-slide */
@media (min-width: 640px) {
  .swiper-button-next{
     margin-right: 70px;
     top: 40%;
     background-size: 120% auto;
     scale: 1.5;
   }
   .swiper-button-prev{
     margin-left: 70px;
     top: 40%;
     background-size: 120% auto;
     scale: 1.5;
   }
   
   .swiper-slide img{
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
       height: 311px;
       width: 90%;
   }
   
  
  
}


@media (min-width: 1023px){
  .swiper-button-next{
    margin-right: 90px;
    top: 30%;
    
  }
  .swiper-button-prev{
    margin-left: 90px;
    top: 30%;
    
  }
  .swiper-slide img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
      height: auto;
      width: 100%;
  }
  .swiper-button-next, .swiper-button-prev{
    width: 40px;
  }

}


.swiper-slide-active, .swiper-slide {
  filter: blur(0px);
  transition: filter 0.5s ease-in-out;
}

.swiper-slide-next, .swiper-slide-prev {
  filter: blur(5px);
  
  transition: filter 0.5s ease-in-out;

}

.swiper-button-prev {
  background-image: url(/images/carousel/left-arrow.svg) !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* opacity: 0.4; */

}
.swiper-button-next {
  background-image: url(/images/carousel/right-arrow.svg) !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  

}

.swiper-button-prev::after {
  display: none;

}

.swiper-button-next::after {
  display: none;

}