@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  @apply text-[calc(1vw+1.4em)] font-bold text-redTED
}
button{
  @apply text-md bg-redTED text-white rounded-3xl px-10 py-2
}

@layer base{
  .font-outline-1{
    -webkit-text-stroke: .5px black;
  }
  .font-outline-4{
    -webkit-text-stroke: 4px black;
  }
}

.merchCard:hover{
  @apply shadow-[rgba(0,0,15,0.5)_10px_5px_4px_0px] border-red-500 border-2
}
.bgMerch{
  background-image: url('../public/bgMerch.png');
  background-repeat: repeat;
}

