@tailwind base;
@tailwind components;
@tailwind utilities;

.titleRed {
  @apply text-[calc(1vw+1em)] font-bold text-redTED;
}
.buttonRed {
  @apply text-lg bg-redTED text-white rounded-3xl px-[6%] py-1 font-bold;
}
body {
  overflow-x: hidden;
}
@layer base {
  .font-outline-half {
    -webkit-text-stroke: 0.5px grey;
  }
  .font-outline-1 {
    -webkit-text-stroke: 1px grey;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px grey;
  }
}

.merchCard:hover {
  @apply shadow-[rgba(0,0,15,0.5)_10px_5px_4px_0px] border-red-500 border-[3px];
}
.bgMerch {
  background-image: url("../public/bgMerch.png");
  background-repeat: repeat;
}
<<<<<<< HEAD
.dotSchedule{
  @apply absolute top-0 -mt-3 rounded-full w-5 h-5
=======
.dotSchedule {
  @apply absolute top-0 -mt-3 rounded-full w-5 h-5;
}
.lineSchedule {
  @apply h-full w-1 bg-black;
}
.layoutTitle {
  @apply font-outline-1 font-bold text-white text-[calc(10vw+3em)] opacity-50;
>>>>>>> 3c1db1d66624cc6f22d2ee5e5e55ded102c54eee
}
.countdown {
  @apply bg-black text-white text-[calc(3vw+0.4em)] lg:leading-[calc(2vw+0.5em)] font-bold flex flex-col justify-center items-center gap-[calc(2vw+0.1em)] rounded-[calc(2vw+0.2em)] aspect-square;
}
.lowest{
  order: 999;
}
